#hello {
    position: absolute;
    top: 7px;
    left: 20px;
}

#addmember{
    position: absolute;
    top: 7px;
    left: 25vw;
}
.modal-body form {
    padding: 21px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #f6f8fa;
}

.modal-body {
    width: 42vw;
    height: 58vh;
    position: relative;
    left: 53vw;
    display: block;
    background-color: white;
    border-radius: 6px;
    /* border: 2px solid black; */
    padding: 25px;
}

.loginSignUpButton {
    position: relative;
    left: 69vw;
}

#Groupform {
    /* position: relative;
    right: 38vw;
    top: 9vh; */
    position: relative;
    top: 9vh;
    left: 16vw;
    height: 78px;
    width: 28vw;
}

#notify {
    position: relative;
    top: 13px
}

.chatmessages {
    width: 50%;
    position: fixed;
    left: 25vw;
    /* top: 12vh; */
    bottom: 17vh;
    background-color: white;

    overflow-y: scroll;
    height: 74%;
}

.chatmessages2 {
    width: 50%;
    position: fixed;
    left: 25vw;
    bottom: 0.5vh;
}

#headingOfPremium {
    position: fixed;
    width: 100%;
}

.msgForm {
    border: 2px solid green;
    padding: 0 26px;
    background-color: aliceblue;
}

.badge{
    width: 196px;
}

#Yourgroups{
    position: relative;
    top: 20vh;
    left: 30vw;
    width: 38%;
}