#hello {
    position: absolute;
    top: 7px;
    left: 20px;
}

.modal-body form {
    padding: 21px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #f6f8fa;
}

.modal-body {
    width: 42vw;
    height: 58vh;
    position: relative;
    left: 53vw;
    display: block;
    background-color: white;
    border-radius: 6px;
    /* border: 2px solid black; */
    padding: 25px;
}

.loginSignUpButton {
    position: relative;
    left: 55vw;
}

#notify {
    position: relative;
    top: 13px
}

.chatmessages {
    width: 50%;
    position: relative;
    left: 25vw;
}

.chatmessages2 {
    width: 50%;
    position: relative;
    left: 25vw;
}

.msgForm {
    border: 2px solid green;
    padding: 0 26px;
    background-color: aliceblue;
}